<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="hello">
        <h1>Here is your free ice-cream!</h1>
        <div style ="display:inline-flex;text-align: center;font-size: 16px; position:relative;left:50%;transform: translateX(-50%);">
        <p style ="color:green;">Login Successful <p style="padding:0px 12px 0px 12px "> | </p>
        <p style ="color:rgb(0, 0, 0);"> Your Username is: <%= username %></p>
        </div>
    </div>
    <img src="./img/ice_cream.png">
    <p style = "text-align: center;">This page was made for showcase</p>
    <p style = "text-align: center; font-size:10px">If the image doesn't show up, it might be due to the free hosting service. Essentially, it's a girl with an ice cream.</p>
    <div class = "button"><a href="index.html">Back to Login</a></div>
    <div class = "button"><a href="https://tenubar.onrender.com/">My webpage</a></div>
</body>
</html>
